@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background: linear-gradient(236.85deg, #321d4d 27.26%, #967fb3 96.03%);
  font-family: "Roboto", sans-serif;
}

.container {
  background: #ecf4ff;
  color: #1c1c1c;
  margin: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0e1d2f;
  padding: 64px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

/* .container2 {
  background: #967fb3;
  color: #1c1c1c;
  margin: 64px;
  border-radius: 10px;
  box-shadow: 6px 6px 6px #0e1d2f;
  padding: 32px;
} */

.perfil {
  display: flex;
}

.perfil-foto {
  border-radius: 400px;
  max-height: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
  margin-left: 16px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 300;
  font-size: 24px;
}

.tema button {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 400;
  padding: 8px 16px;
  background: #ecf4ff;
  border-radius: 100px;
}

.projetos {
  display: flex;
  flex-direction: column;
  /*   align-items: center; */
  background: #967fb3;
  margin-top: 32px;
  padding: 32px;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
}

/* .projetos ul {
  font-weight: 500;
  font-size: 24px;
  margin-top: 10px;
} */

.projetos li {
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 8px;
  list-style-type: none;
  line-height: 28px;
}

.projetos li a {
  color: C1C1C1;
  text-decoration: none;
}

.projetos-titulo {
  list-style: none;
  font-weight: 700;
  font-size: 36px;
}

.dark {
  background: linear-gradient(236.85deg, #967fb3 96.03%, #321d4d967fb3 27.26%);
}

.dark .container {
  background: #333439;
  color: #f6f6f6;
}

.dark .projetos {
  color: #1c1c1c;
}

.dark .tema button {
  background: #1c1c1c;
  color: #ffffff;
  border: 2px solid #f7f7f7;
}